<h1>New Course</h1>

<%= form_with model: @course do |form| %>
<%= button_to "Back",root_path, method: "get" %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>